/* RENDERED TO APP*/
.modal-unordered-lists {
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
}
.modal-unordered-list-item {
  text-overflow: ellipsis;
  padding: 10px;
  cursor: pointer;
}
.modal-unordered-list-item:hover {
  color: gray
}




.banner-header-dropdown-modal-wrapper {
  display: flex;
  justify-content: right;
  z-index: 1000;
  left: 100%;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.banner-header-dropdown-modal-content {
  top: 80%;
  transition: height 3s ease;
  position: absolute;
  background-color: whitesmoke;
  border: 1px solid #888;
  width: 300px;
}

.search-result-name {
  font-weight: bolder;
}
.search-result-category {
  /* color: grey; */
  font-size: 10px;
}

/* RENDERED TO PORTAL*/