html body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  /* border: solid red 5px; SCAFFOLDING!!!!!!!!!!!!!!!!!!!!!! */
  position: fixed;
  top: 0;
  opacity: 1;
  width: 100%;
  z-index: 2;
}
.standin-header-space {
  background-color: white;
  height: 110px;
}
main {
  /* border: red 5px solid; */
}

.subwidgets-wrapper {
  display: grid;
  grid-template-columns: 10% 90%;
}


.subwidgets-indent {
  grid-column: 1;
}
.subwidgets {
  grid-column: 2;
  /* border: green 2px solid; */
}