/*******************
* PRODUCT DETAIL
********************/

.current-product-detail-container {
  /* border: 2px blue solid; */
  max-height: 100%;
  /* margin-left: 5%;
  margin-right: 5%; */
}

/* HIGHBAR */
.current-product-detail-highbar-container {
  display: grid;
  grid-template-columns: 60% 40%;

}
    .current-product-detail-highbar-vertical-photo-carousel-container {
      position: relative;
      right: 0%;
    }
    .current-product-detail-highbar-photo-container {
      /* border: 2px blue solid; */
      margin-left: 30px;
      grid-column: 1;
    }
        .current-product-detail-highbar-photo-large {
          object-fit: cover;
          object-position: 50% 50%;
          border: gray 1px solid;
          max-height: 500px;
          min-width: 97%;
          max-width: 97%;
          /* padding-right:  */
        }

.current-product-detail-highbar-sidebar-container {
  grid-column: 2;
  /* border: blue 2px solid; */
}

.current-product-detail-lowbar-container {
  /* border: blue solid 2px; */
  display: grid;
  grid-template-columns: 10% 50% 40%;
}
  .current-product-detail-lowbar-left-wrapper {
    margin-top: 20px;
    border-right: gray solid 2px;
  }
    .current-product-detail-lowbar-slogan {
      /* border: goldenrod 2px solid; */
      /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
      font-size: 30px;
      font-weight: bolder;
      padding-top: 30px;
      padding-bottom: 20px;
    }
    .current-product-detail-lowbar-description {
      /* border: goldenrod 2px solid; */
      font-size: 14px;
    }


    .current-product-detail-lowbar-features {
      margin-top: 50px;
      margin-left: 20px;
    }
    .current-product-detail-lowbar-feature {
      padding-top: 5px;
      padding-bottom: 5px;
    }

.current-product-detail-sidebar-container {

}
.current-product-detail-highbar-sidebar a {
  color: black;
}
.current-product-detail-highbar-sidebar a:visited {
  color: black;
}


.current-product-detail-highbar-sidebar.review-data {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

  .current-product-detail-highbar-sidebar.review-data.readallreviews {
    padding-left: 20px;
    padding-top: 5px;
  }


.current-product-detail-highbar-sidebar.category {
  text-transform: uppercase;
  padding-bottom: 10px;
}
.current-product-detail-highbar-sidebar.name {
  font-size: 40px;
  padding-bottom: 20px;
}
.current-product-detail-highbar-sidebar.price {
  padding-bottom: 20px;
}

.current-product-detail-highbar-sidebar.style-selector.photo-grid.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: gray 1px solid;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.current-product-detail-highbar-sidebar.dropdown-selectors {
  display: grid;
  grid-template-columns: 60% 40%;
}
.current-product-detail-highbar-sidebar.addtobag-favorite {
  display: grid;
  grid-template-columns: 80% 20%;
}

.favorite-star {
  max-width: 20px;

}
