/*******************
* PRODUCT DETAIL
********************/

.product-detail-container {
  /* border: 2px blue solid; */
  max-height: 100%;
  /* margin-left: 5%;
  margin-right: 5%; */
}

/*************************************************************************************************************


                                                    HIGHBAR


*************************************************************************************************************/

.highbar-container {
  display: grid;
  grid-template-columns: 60% 40%;

}
    .highbar-left.vertical-photo-carousel-container {
      position: relative;
      right: 0%;
    }
    .highbar-left.photo-container {
      /* border: 2px blue solid; */
      margin-left: 30px;
      grid-column: 1;
    }
        .highbar-left.photo-large {
          object-fit: cover;
          object-position: 50% 50%;
          border: gray 1px solid;
          max-height: 550px;
          min-width: 97%;
          max-width: 97%;
          /* padding-right:  */
        }

.highbar-right.ca-container {
  grid-column: 2;
  /* border: blue 2px solid; */
}

.product-detail-ca-container {

}
.highbar-right.ca a {
  color: black;
}

  .ca.review-data.readallreviews {
    padding-left: 20px;
    padding-top: 5px;
  }
      .ca a:visited {
        color: black;
      }


      .ca.review-data {
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
      }

  .ca.category {
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  .ca.name {
    font-size: 40px;
    padding-bottom: 20px;
  }
  .ca.price {
    padding-bottom: 20px;
  }


  .ca.style-selector.photo-grid.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: gray 1px solid;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  .ca.style-selector.photo-grid.thumbnail.current{

    border: darkblue 5px double;
  }



  .ca.dropdown-selectors {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

      .ca.dropdown-selectors.select-size.wrapper {
      }

        .ca.dropdown-selectors.select-size.boxstyle-button {
          max-width: 200px;
        }

      .ca.dropdown-selectors.amount.wrapper {
        position: relative;
        margin-right: 60px;
      }

        .ca.dropdown-selectors.amount.boxstyle-button {
          position: absolute;
          right: 0px;
          max-width: 100px;
        }

  .ca.addtobag-favorite {
    display: grid;
    grid-template-columns: 80% 20%;
  }
  .ca.addtobag-favorite.addToBag.boxstyle-button {
    max-width: 400px;
  }
  .ca.addtobag-favorite.favorite.boxstyle-button {
    max-width: 43px;
  }


  .favorite-star {
    max-width: 20px;

  }


/************************************************************************************************************


                                                  LOWBAR


*************************************************************************************************************/

.lowbar-container {
  /* border: blue solid 2px; */
  display: grid;
  grid-template-columns: 60% 40%;
}
  .lowbar-left {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 20px;
    border-right: gray solid 2px;
  }
    .cpd-container {
      /* display: flex;
      flex-direction: column; */
    }
      .slogan {
        font-size: 30px;
        font-weight: bolder;
        padding-top: 30px;
        padding-bottom: 20px;
      }
      .description {
        font-size: 14px;
      }

  .lowbar-right {

  }
    .features {
      margin-top: 50px;
      margin-left: 20px;
    }
    .feature {
      padding-top: 5px;
      padding-bottom: 5px;
    }
