/****************************

RATINGS AND REVIEWS

****************************/


.reviews.content-wrapper {
  display: grid;
  grid-template-columns: 33% 67%;
}

/*************************

      AGGREGATES

*************************/

.reviews.aggregates.rating-wrapper {
  display: flex;
  flex-direction: row;
}
.reviews.aggregates.rating.number {
  font-size: 60px;
}

.reviews.aggregates.recommend {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.reviews.aggregates.rating-bargraph {
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.reviews.aggregates.rating-bargraph.bar{
  padding-top: 5px;
  padding-bottom: 5px;
}
.reviews.aggregates.characteristics.slider{
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.reviews.review.header-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}
.reviews.review.userentryinfo {
  text-align: right;
}


    .reviews.review.title {
      font-family: Arial;
      font-weight: 900;
      padding: 20px 0px 10px 0px;
      font-size: 20px;

    }
    .reviews.review.body {
      font-family: Arial;
      padding: 10px 0px;
      font-size: 15px;
      padding-bottom: 10px;
    }
    .reviews.review.body.recommend {
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px;
    }


.reviews.review.response-wrapper {
  background: lightgray;
  padding: 10px;
  margin-right: 10px;
}
.reviews.review.response {
  padding:  5px 10px 5px 10px
}

.reviews.review.userentryinfo {
  font-size: 10px;
  padding-right: 30px;
}

.reviews.review.helpful-and-report {
  font-size: 10px;
}