/****************************

RATINGS AND REVIEWS

****************************/


.ratings-and-reviews-wrapper {
  grid-row: 3;
}

.ratings-and-reviews .aggregates-and-reviews-wrapper {
  display: grid;
  grid-template-columns: 33% 67%;
}

.ratings-and-reviews-aggregates-wrapper {
}
.ratings-and-reviews-reviews-wrapper {

}
.ratings-and-reviews-reviews-stars {

}
.ratings-and-reviews-reviews-review {

}
.ratings-and-reviews-reviews-review-text-wrapper {

}
.ratings-and-reviews-reviews-review-text-title {

}
.ratings-and-reviews-reviews-review-text-body {

}

.ratings-and-reviews-reviews-review-user-entry-info {

}