
/**********************

  RELATED PRODUCTS

***********************/


.rprods-container {
  grid-row: 2;
}

.outfit-cards-container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.card.addToOutfit {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  margin-right: 5px;
}

.card.addToOutfit.disabled{
  opacity: .5;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}

.card-name {
  color: black;
}
.card-category {
  color: gray;
}
.card-price {
  color: black;
}

.card-star {
  max-width: 20px;
}
