
/**********************

  RELATED PRODUCTS

***********************/


.related-products-container {
  grid-row: 2;
}
.related-products-related-cards-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  column-gap: 5%;
}

.related-products-related-cards-card {
  border: solid black;
  max-height: 300px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 70% 30%;
}

.related-products-related-cards-card-image-wrapper {
  grid-row: 1;
  overflow: hidden;

}
.related-products-related-cards-card-image {
  object-fit: fill;
  /* margin: auto; */
  /* min-height: 200px;
  min-width: 100px; */
  overflow: hidden;
  z-index: 0;
}

.related-products-related-cards-card-details-wrapper {
  grid-row: 2;
}
