/***************
* HEADER
****************/

html {
  font-family: 'Spartan', sans-serif;
}





.main-content {
  grid-template-rows: 25% 25% 25% 25%;
}

/****************

SUB WIDGETS

****************/

.widget-title {

}



/*****************

Buttons

******************/

.related-products-related-cards-card-action-button-star {
  position: relative;
  bottom: 30%;
  left: 80%;
  max-height: 2%;
  z-index: 1000;
}