/***************
* HEADER
****************/

.banner-search-logo-container {
  background-color: silver;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.banner-search-logo-logo {
  grid-column: 1;
}
.banner-search-logo-searchbar {
  grid-column: 3;
}

.banner-announcements-container {
  text-align: center;
}


/*******************
* PRODUCT DETAIL
********************/

.current-product-detail-container {

}

/* HIGHBAR */
.current-product-detail-highbar-container {
  display: grid;
  grid-template-columns: 60% 40%;
}
.current-product-detail-highbar-photo-container {
  grid-column: 1;
}
.current-product-detail-highbar-vertical-photo-carousel-container {
  position: relative;
  right: 0%;
}
.current-product-detail-highbar-sidebar-container {
  grid-column: 2;
}


/*LOWBAR*/
.current-product-detail-lowbar-wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
}
.current-product-detail-lowbar-description {

}
.current-product-detail-lowbar-slogan {

}
.current-product-detail-lowbar-features {

}



/****************

SUB WIDGETS

****************/

.widget-title {

}


/***************
* Q AND A
***************/

.qa-question-and-answer-wrapper {

}

.qa-question-wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
}
.qa-question-text {
  grid-column: 1;
}
.qa-question-user-entry-info {
  grid-column: 2;
}

.qa-answer-wrapper {

}
.qa-answer {

}
.qa-answer-user-entry-info {

}

/**********************

  RELATED PRODUCTS

***********************/

.related-products-container {

}
.related-products-related-cards-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.related-products-related-cards-card {
  border: solid black 2px;
}




/****************************

RATINGS AND REVIEWS

****************************/

.ratings-and-reviews-aggregates-wrapper {

}
.ratings-and-reviews-reviews-wrapper {

}
.ratings-and-reviews-reviews-stars {

}
.ratings-and-reviews-reviews-review {

}
.ratings-and-reviews-reviews-review-text-wrapper {

}
.ratings-and-reviews-reviews-review-text-title {

}
.ratings-and-reviews-reviews-review-text-body {

}

.ratings-and-reviews-reviews-review-user-entry-info {

}


